@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
header{
  width: 100%;
  height: 150px;
  /* background-color: #000; */
  display:  flex;
  position: fixed;
  top: 0px; left: 0px;
  z-index: 5;
}
header h1 img{
  width: 150px;
  /* margin: 0.2%; */
}
header nav a{
  color: #fff;
}
/* 토글버튼 서식 */
#toggle{
  display: none;
}
#toggle_btn{
  position: absolute;
  right: 1%;
  top: 35px;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: 1px dashed #fff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
@keyframes toggle{
  
}
#toggle_btn span:not(:last-child){
  margin-bottom: 8px;
}
#toggle_btn span{
  margin-left: 15px;
  display: inline-block;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  transition: 0.3s;
}
#toggle_btn span:first-child{
  width: 25px;
}
#toggle_btn span:nth-child(2){
  width: 40px;
}
#toggle_btn span:last-child{
  width: 15px;
}
/* 토글버튼 호버서식 */
#toggle:checked + label span:first-child{
  width: 40px;
  transform: rotate(45deg) translate(7px,9px);
  background: #fff;
}
#toggle:checked + label span:nth-child(2){
  margin-left: 100px;
}
#toggle:checked +label span:last-child{
  width: 40px;
  transform: rotate(-45deg) translate(8px,-9px);
  background: #fff;
}
#toggle:checked + label{border: 1px dashed #fff;}
/* 내비서식 */
.gnb{
  background-image: url('../images/nav_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(0.7); */
  /* background-blend-mode: darken; */
  position: absolute;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100vh;
  /* background: #000; */
  transition: 0.3s;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.about_img{
  background-image: url('../images/about_bg.jpg') !important;
}
.port_img{
  background-image: url('../images/nav_bg.jpg') !important;
}
.con_img{
  background-image: url('../images/contact_bg.jpg') !important;
}
.gnb .list{
  position: relative;
  display: flex;
  flex-direction: column;
}
.gnb .list li a{
  position: relative;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  font-size: 70px;
  margin: 40px;
  overflow: hidden;
}
.gnb .list li a span{
  font-weight: 100;
  position: relative;
  transition: 0.5s;
}
.gnb .list li a span .out{
  display: inline-flex;
}
.gnb .list li a:hover span .out{
  transform: translateY(-100%);
}
.gnb .list li a span .in{
  position: absolute;
  left: 0px;
  color: #f1b80c;
  transform: translateY(100%);
  
}
.gnb .list li a:hover span .in{
  transform:  translateY(0);
}
/* 토글버튼 클릭 시 화면에서 나옴 */
#toggle:checked ~ .gnb{
  right: 0px;
  top: 0px;
}