@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.intro .hidden{
  visibility: hidden;
  opacity: 0;
}
.intro{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* place-items: center; */
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 10;
  /* background-image: url('../images/black_logo.png');
  background-position: 50% 15% ;
  background-repeat: no-repeat;
  background-size: 240px; */
}
.intro_image{
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
  transform: translateY(40px);
  /* margin-bottom: 40px; */
}
.intro_image img{
  width: 240px;
}
.intro_title{
  font-size: 5rem;
  font-weight: 100;
  /* max-width: 45%; */
  color: #fff;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
  transform: translateY(40px);
}
.intro > div{
  position: absolute;
  top: 0;
  background-color: #000;
  width: 50%;
  height: 100vh;
  transform: scaleX(0);
}
.intro_left{
  left: 0;
  transform-origin: left center;
}
.intro_right{
  left: 50%;
  transform-origin: right center;
}