@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
body{
  overflow-y: hidden;
}
#portfolio{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  left: 0; top: 0;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
}
#portfolio h2{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.slide{
  --items: 5;
  --width: 400px;
  --height: 700px;
  --x: calc(var(--active) * 240%);
  --y: calc(var(--active) * 100%);
  --rot: calc(var(--active) * 80deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 1.5);
  /* overflow: hidden; */
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  /* box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5); */
  /* background: black; */
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.slide .slide_box {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
}
.slide .slide_box:before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide a {
  position: absolute;
  z-index: 9;
  color: #fff;
  bottom: -60px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 8px;
  transition: 0.3s;
}
.slide a:hover{
  background: #fff;
  color: #000;
}
/* .carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}  */
.slide img {
  width: 100%;
  /* height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}